@import "./mixins";

$color-white: #ffffff;
$color-black: #000000;
$color-grey: #444444;
$color-red: #D51820;
$color-green: #29A643;


// #0B0819
// #29A643
// #FFF8D6
// #959595
// #D9D9D9
// #F4F4F4
// #252525

$breakpoints: (
	"xxs": 360px,
	"xs": 600px - 1,
	"sm": 798px - 1,
	"md": 1080px - 1,
	"lg": 1280px - 1,
	"xl": 1500px - 1,
	"xxl": 1600px,
);

$main-font: 'Roboto 400', sans-serif;

$main-font-thin: 'Roboto 100', sans-serif;
$main-font-light: 'Roboto 300', sans-serif;
$main-font-medium: 'Roboto 500', sans-serif;
$main-font-bold: 'Roboto 700', sans-serif;
$main-font-black: 'Roboto 900', sans-serif;

$sub-font: 'Bebas 400', sans-serif;